.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Modal */
.modal {
  display: none; /* Default */
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content{
    background-color: #fefefe;
    border-radius: 10px;
    margin: auto;
    padding: 25px 20px;
    border: 1px solid #888;
    width: 60%;
    height: auto;
}

.close{
    font-weight: bold;
    color: red;
    float: right;
    font-size: 32px;
    font-weight: bold;
}

.close:hover{
    cursor: pointer;
}

.modal-title{
    font-size: 25px;
    margin: 0px;
    font-weight: bolder;
}

.modal-sub-title{
    font-size: 20px;
    font-weight: bold;
}

/* Searchable Multi Selected Dropdown */
.multi-select {
    width: 100%;
    position: relative;
    font-family: Arial, sans-serif;
}

.placeholder{
    color: #999;
    padding-left: 8px;
    font-size: 13px;
}

.selected {
    width: 90%;
    border: 1px solid #ccc;
    padding: 8px 0px;
    cursor: pointer;
    min-height: 36px;
}

.dropdown {
    position: absolute;
    width: 90%;
    top: 100%;
    border: 1px solid #ccc;
    background: white;
    max-height: 200px;
    overflow: auto;
    z-index: 10;
}

.hidden {
    display: none;
}

.search {
    width: 100%;
    padding: 6px;
    border: none;
    border-bottom: 1px solid #eee;
    outline: none;
}

.options {
    list-style: none;
    margin: 0;
    padding: 0;
}

.options li {
    padding: 6px;
    cursor: pointer;
}

.options li:hover {
    background: #f2f2f2;
}

.tag {
    display: inline-block;
    background: #e5f0ff;
    padding: 2px 6px;
    margin: 2px;
    border-radius: 4px;
    font-size: 12px;
}

.action-bar {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    border-bottom: 1px solid #eee;
}

.action-bar button {
    font-size: 12px;
    padding: 4px 8px;
    border: 1px solid #ccc;
    background: #f9f9f9;
    border-radius: 4px;
    cursor: pointer;
}

.action-bar button:hover {
    background: #eaeaea;
}
